
Notebooks/.DS_Store
.DS_Store
Notebooks/.DS_Store
SEL4C/app1/__init__.py
SEL4C/app1/__pycache__/__init__.cpython-39.pyc
SEL4C/app1/__pycache__/serializers.cpython-39.pyc
SEL4C/app1/__pycache__/views.cpython-39.pyc
SEL4C/app1/admin.py
SEL4C/app1/apps.py
SEL4C/app1/migrations/__init__.py
Notebooks/.DS_Store
SEL4C/app1/tests.py
SEL4C/db.sqlite3
SEL4C/manage.py
SEL4C/SEL4C/__init__.py
SEL4C/SEL4C/__pycache__/__init__.cpython-39.pyc
SEL4C/SEL4C/__pycache__/settings.cpython-39.pyc
SEL4C/SEL4C/__pycache__/urls.cpython-39.pyc
SEL4C/SEL4C/__pycache__/wsgi.cpython-39.pyc
SEL4C/SEL4C/asgi.py
SEL4C/SEL4C/wsgi.py
Notebooks/.DS_Store
SEL4C/app1/models.py
.DS_Store
Notebooks/.ipynb_checkpoints/A01661893-checkpoint.ipynb
*.ipynb
README.md
